<% if user_signed_in? %>
<details>
  <summary>Shopping cart</summary>
  <% if @cart.empty? %>
  <p>No Items in Cart.</p>
  <% else %>
  <ul>
    <% @cart.each do |item| %>
    <li><%= item.title %>prix :<%= number_to_currency item.price_cents / 100.0 %> - <%= link_to 'remove from cart', remove_from_cart_path(item), method: :delete %> </li>
  <% end %>
  </ul>
  <% end %>
</details>
<p id="notice"><%= notice %></p>
<% else %>
<p> Vous devez être connecté pour remplir votre panier</p>
<% end %>


<div class="tout1">
  <div class="row row-cols-4 row-cols-sm-5 row-cols-md-8 ">


    <div class="col">
      <h1>Items</h1>         
    </div>

   
  </div>



  <br>


  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 ">
    <% @items.each do |item| %>
      <div class="col">
        <div class="card border-warning mb-3 cards" style="max-width: 20rem;">

          <div class="card-header">
            <h4><%= item.title %></h4>
          </div>

          <div class="card-body">
            
            
          <div class="flex-container text">
          <%= image_tag(item.image,  :size => "250x200")if item.image.attached? %> 
            <h4 class="card-title">prix : <%= number_to_currency item.price_cents %></h4>
            <p class="card-text"><%= item.description %></p>

            <%= link_to 'Supprimer', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-secondary'%>
            <%= link_to "Modifier", edit_item_path(item.id), class: 'btn btn-sm btn-outline-secondary'%>
            
            <br></br>
            <div class="row row-cols-6 row-cols-sm-3 row-cols-md-6">
              <% if @cart.include?(item) %>

              <p><%= button_to 'enlever du panier', remove_from_cart_path(item, :style => "red"), method: :delete %></p> 
              <% else %>
              <p><%=  button_to 'ajouter au panier', add_to_cart_path(item.id), method: :post %></p>
              <% end %>


              <%= button_to 'acheter maintenant', checkout_create_path, method: :post, params: {id: item.id}, remote: true %>
              </div>
            </div>
            </div>
        </div>
      </div>
      
    <% end %>
  </div>
</div>






<STYLE>

.button_to1 {
  weight: 220%;
  height: 150%;
}

.tout1 {
  display:flex;
  padding-left: 30px;
  flex-direction: column;
}




</STYLE>



